{% extends '::base.html.twig' %}

{% block id 'producto' %}
    {% block title %}{{ accion == 'crear' ?
    'Añadir un nueva producto'
    :
    'Modificar el prducto ' ~ producto.nombre
    }}{% endblock %}

    {% block body %}
        <h1>{{ block('title') }}</h1>

        {{ form_start(formulario) }}
        <div>
            {{ form_errors(formulario) }}

            <div>
                {{ form_label(formulario.nombre) }}
                {{ form_errors(formulario.nombre) }}
                {{ form_widget(formulario.nombre, { 'attr': { 'class': 'largo' } }) }}
            </div>

            <div>
                {{ form_label(formulario.descripcion, 'Descripción') }}
                {{ form_errors(formulario.descripcion) }}
                {{ form_widget(formulario.descripcion) }}

                <p class="ayuda">Escribe cada característica en una línea.</p>
            </div>

            <div>
                {{ form_label(formulario.f_ini, "Fecha inicio") }}
                {{ form_errors(formulario.f_ini) }}
                {{ form_widget(formulario.f_ini, { 'attr': { 'class': 'mediana' } }) }}

                <p class="ayuda">
            </div>

            <div>
                {{ form_label(formulario.f_fin, 'Fecha finalizacion') }}
                {{ form_errors(formulario.f_fin) }}
                {{ form_widget(formulario.f_fin, { 'attr': { 'class': 'mediana' } }) }}

                <p class="ayuda">
            </div>

            <div>
                {{ form_label(formulario.foto, 'Fotografía') }}
                {{ form_errors(formulario.foto) }}

                {% if accion == 'editar' %}
                    <img src="{{ asset(directorio_imagenes ~ producto.rutaFoto) }}" />
                    <p class="ayuda">(No se muestra a tamaño real)</p>

                    {{ form_label(formulario.foto, 'Modificar foto') }}
                {% endif %}

                {{ form_widget(formulario.foto) }}

                <p class="ayuda">Tamaño máximo: 900 KB. Formato preferido: JPEG.</p>
            </div>

            <div>
                {{ form_label(formulario.categoria) }}
                {{ form_errors(formulario.categoria) }}
                {{ form_widget(formulario.categoria, { 'attr': { 'class': 'corto' } }) }}

                <p class="ayuda">Precio final de venta a los usuarios (en euros).</p>
            </div>

            {% if accion == 'crear' %}
                <div>

                    {{ form_widget(formulario.aceptar) }}
                </div>
            {% endif %}

        </div>
        {{ form_end(formulario) }}
    {% endblock %}

    {% block aside %}
        <section id="faq">
            <h2>Preguntas frecuentes</h2>

            <dl>
                <dt>¿Lorem ipsum dolor sit amet?</dt>
                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                <dt>¿Ut enim ad minim veniam?</dt>
                <dd>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
                <dt>¿Excepteur sint occaecat cupidatat non proident?</dt>
                <dd>Sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
            </dl>
        </section>
    {% endblock %}